.tblf-container {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(var(--tblf-blur-radius));
}

.tblf-spot {
  width: var(--radius);
  height: var(--radius);
  position: fixed;
  background-image: radial-gradient(var(--color), transparent);
  border-radius: var(--radius);
  opacity: 0;
  animation:
    tblf-spot-animation var(--duration) linear,
    tblf-spot-fade var(--duration) linear;
}

@keyframes tblf-spot-animation {
  0% {
    left: calc(var(--from-x) - var(--radius) / 2);
    top: calc(var(--from-y) - var(--radius) / 2);
  }
  100% {
    left: calc(var(--to-x) - var(--radius) / 2);
    top: calc(var(--to-y) - var(--radius) / 2);
  }
}

@keyframes tblf-spot-fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
